html, body {
    font-family: "courier";
    background-color: #f7f9ff;
}

h1 {
    font-size: 2.3em;
    text-align: left;
    text-decoration: underline;
}

h2 {
    font-size: 1.7em;
    text-align: left;
    text-decoration: underline;
}

ul {
    color: #000000;
    font-size: 1.2em;
    list-style-type: circle;
}

a {
    color: #003f80;
}

a:focus {
    color: #38007b;
}

/*.page-wrap {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}*/

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:60px; /*If it isn't about this or a little lower it sinks below the bottom of the browser border*/
    width:100%;
    /*Background is better just as the body background color, so I commented it out*/
    /*background: #454545;*/
}

.footer-bottom {
    width: 100%;
    text-align: center;
    float: left;
    display: inline-block;
}

.footer-menu a {
    color: #000000;
    float: left;
    font-size: medium;
    list-style-type: none;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-menu li {
    width: auto;
    float: left;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

.footer-menu {
    display: inline-block;
    text-decoration: none;
    width: auto;
    text-align: center;
}